html { 
    /* background-color: red; */
    background: url(/assets/images/Zebra_ZN.jpg);
    /* background-image: url(/assets/images/zebra.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }